<nav class="row container mx-auto">
  <div class="col-md-4  mx-auto">
      <img id="imgLogo" src="../../../assets/img/Logo.png" alt="logo_grande">
  </div>
  <div class="col-md-6 mx-auto row d-flex align-self-center">
    <div class="col-12">
      <nav class="navbar navbar-expand-sm" >
            <ul class="navbar-nav me-auto mb-lg-0 d-flex justify-content-center text-center w-100">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Camping Huelva</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Camping Valencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Camping Almeria</a>
              </li>
            </ul>
      </nav>

    </div>
    <form [formGroup]="stateForm" class="w-100 col-12">
      <mat-form-field class="w-100 " appearance="fill">
        <mat-label>Introduce una ciudad</mat-label>
        <input type="text"
               matInput
               formControlName="stateGroup"
               [matAutocomplete]="autoGroup">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
              <mat-option *ngFor="let name of group.names" [value]="name">
                {{name}}
              </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <hr>
</nav>