<div class="container">


  <nav class="row ">
    <div class="col-md-4  mx-auto">
      <a href="/"><img id="imgLogo" src="../../../assets/images/Logo.png" alt="logo_grande"></a>
    </div>
    <div class="col-md-6 mx-auto row d-flex align-self-center">
      <div class="col-12">
        <nav class="navbar navbar-expand-sm">
          <ul class="navbar-nav me-auto mb-lg-0 d-flex justify-content-evenly text-center w-100">
            <ng-container *ngIf="!authService.loggedIn(); else loggedInNav">
              <li class="nav-item">
                <a class="nav-link"  aria-current="page" [routerLink]="['/listado-camping']" [queryParams]="{ciudad: 'Huelva'}">Camping Huelva</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/listado-camping']" [queryParams]="{ciudad: 'Valencia'}">Camping Valencia</a>
              </li>
              <li class="nav-item">
                
                <a class="nav-link" aria-current="page" [routerLink]="['/listado-camping']" [queryParams]="{ciudad: 'Almeria'}">Camping Almeria</a>
              </li>
            </ng-container>
            <ng-template #loggedInNav>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/perfil">Mi perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/perfil/reservas/pendientes">Mis reservas</a>
              </li>
              
            </ng-template>

          </ul>
        </nav>

      </div>
      <form class="d-flex m-auto mb-4 col-12 justify-content-center align-items-start">
        <mat-form-field class="w-100">
          <input  
                type="search"
                #ciudadInput
                 placeholder="Introduce una ciudad"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button class="mt-2" mat-button type="button" (click)="goCampingFilter(ciudadInput.value)">
          <mat-icon>search</mat-icon>
        </button>
       
        
      </form>
    </div>
    <hr>
  </nav>
</div>