#map { height: 300px; }

input[type='checkbox'] {
    width:20px;
    height:20px;
}
input[type='number'] {
    width:100%,
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}