<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto row">
            <h5 class="col-6" type="button" routerLink="/admin/lista-camping">
                <mat-icon>keyboard_return</mat-icon>
                Volver Atras
            </h5>

            <h4 class="col-12 fw-bold text-center my-4">Agregar camping</h4>
            <mat-divider></mat-divider>

            <form [formGroup]="campingForm" class="mx-auto my-4 row" (ngSubmit)="agregarCamping()" novalidate>
                <mat-form-field appearance="fill" class="col-md-4 me-auto">
                    <mat-label>Introduzca el nombre</mat-label>
                    <input matInput placeholder="Camping Giralda" formControlName="nombre" required name="nombre">
                    <mat-error *ngIf="errorHandling('nombre', 'required')">
                        El campo nombre es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('nombre', 'pattern')">
                        El campo nombre solo puede incluir letras
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-4 ms-auto">
                    <mat-label>Introduzca la region</mat-label>
                    <mat-select name="region" formControlName="region" required [(ngModel)]="comunidadSeleccionada">
                        <mat-option [value]="item" *ngFor="let item of regiones">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-md-4 ms-auto">
                    <mat-label>Introduzca la ciudad</mat-label>
                    <mat-select name="ciudad" formControlName="ciudad" required>
                        <mat-option [value]="ciudad" *ngFor="let ciudad of ciudades[comunidadSeleccionada]">{{ciudad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Introduzca su email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required name="email">
                    <mat-error *ngIf="errorHandling('email', 'required')">
                        El campo email es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('email', 'email')">
                        EL formato del email no es correcto
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Introduzca una descripción</mat-label>
                    <textarea rows="10" matInput formControlName="descripcion" required name="descripcion"></textarea>
                    <mat-error *ngIf="errorHandling('descripcion', 'required')">
                        El campo descripción es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('descripcion', 'pattern')">
                        El campo descripción solo puede incluir letras
                    </mat-error>
                </mat-form-field>

                <div class="col-md-6 col-12 ">
                    <mat-form-field class="example-full-width">
                        <mat-label>Introduzca su telefono</mat-label>
                        <span matPrefix>+34 &nbsp;</span>
                        <input type="number" matInput placeholder="658736465" formControlName="telefono" name="telefono"
                            pattern="^[0-9]{9}$">
                        <mat-error *ngIf="errorHandling('telefono', 'pattern')">
                            El teléfono debe ser 9 carácteres numéricos
                        </mat-error>
                        <mat-error *ngIf="errorHandling('telefono', 'required')">
                            El teléfono es requerido
                        </mat-error>
                    </mat-form-field>
                    <div class="example-full-width d-flexrow col-12 my-4 mx-auto">
                        <mat-label class="">Selecciona las imagenes</mat-label>
                        <input class="d-block" (change)="imagenesChange($event)" type="file" formControlName="imagenes"
                            name="imagenes" multiple />
                        <mat-error class="" *ngIf="errorHandling('imagenes', 'required')">
                            Las imagenes son requeridas
                        </mat-error>
                    </div>


                </div>
                <div class="col-md-6 col-12 ms-auto text-center">
                    <mat-label class="h5 col-12 ">Servicios disponibles</mat-label>
                    <div class="row mx-auto mt-4 text-start justify-content-between">
                        <div class="row mb-2 col-12 col-sm-6 justify-content-center" *ngFor="let servicio of serviciosPrincipales; let i =index">
                                 
                            <input type="checkbox" [value]="servicio.nombre" (change)="onCheckboxChange($event)" class="col-1 p-5">
                            <label class="col-6">{{servicio.nombre}}</label>

                        </div>
                        
                        <mat-form-field class="example-chip-list mt-3" appearance="fill">
                            <mat-label>Otros servicios</mat-label>
                            <mat-chip-grid #chipGrid aria-label="Introduce servicio">
                              <mat-chip-row *ngFor="let servicioAux of seviciosAgregados"
                                            (removed)="remove(servicioAux)"
                                            [editable]="true"
                                            (edited)="edit(servicioAux, $event)"
                                            [aria-description]="'press enter to edit ' + servicioAux.nombre">
                                {{servicioAux.nombre}}
                                <button matChipRemove [attr.aria-label]="'remove ' + servicioAux.nombre">
                                  <mat-icon>cancel</mat-icon>
                                </button>
                              </mat-chip-row>
                              <input placeholder="Nuevo servicio..."
                                     [matChipInputFor]="chipGrid"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event)"/>
                            </mat-chip-grid>
                          </mat-form-field>
                    </div>


                </div>
                <div class="map row my-4 mx-auto text-center">
                    <mat-label class="h5">Introduzca la ubicación</mat-label>
                    <div class="col-12  mx-auto" id="map"></div>
                </div>
                <mat-divider></mat-divider>
                <mat-label class="h5 mt-5 text-center">Temporadas</mat-label>
                <div class="col-12 row my-4 mx-auto text-center justify-content-between">
                    <div class="col-12 col-md-4 row ">
                        <h4><strong>Temporada Baja</strong></h4>
                        <mat-form-field  color="primary" appearance="fill">
                            <mat-label>Inicio temporada baja</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="fechaTBajaInicio" >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                          
                          <mat-form-field  color="accent" appearance="fill">
                            <mat-label>Fin temporada baja</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="fechaTBajaFin">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                          </mat-form-field>
                    </div>
                     <div class="col-12 col-md-4 row">
                        <h4><strong>Temporada Media</strong></h4>
                        <mat-form-field color="primary" appearance="fill">
                            <mat-label>Inicio temporada Media</mat-label>
                            <input matInput [matDatepicker]="picker3" formControlName="fechaTMediaInicio" >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field>
                          
                          <mat-form-field  color="accent" appearance="fill">
                            <mat-label>Fin temporada Media</mat-label>
                            <input matInput [matDatepicker]="picker4" formControlName="fechaTMediaFin">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4 color="primary"></mat-datepicker>
                          </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4 row">
                        <h4><strong>Temporada Alta</strong></h4>
                        <mat-form-field color="primary" appearance="fill">
                            <mat-label>Inicio temporada Alta</mat-label>
                            <input matInput [matDatepicker]="picker5" formControlName="fechaTAltaInicio" >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                          </mat-form-field>
                          
                          <mat-form-field  color="accent" appearance="fill">
                            <mat-label>Fin temporada Alta</mat-label>
                            <input matInput [matDatepicker]="picker6" formControlName="fechaTAltaFin">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker6"></mat-datepicker-toggle>
                            <mat-datepicker #picker6 color="primary"></mat-datepicker>
                          </mat-form-field>
                    </div> 
                </div>
                <mat-label class="h5 mt-5 text-center">Precios</mat-label>
                <div class="col-12 col-md-4  row ">
                    <button type='button' mat-raised-button color="accent" (click)="onAddRow()"><mat-icon>add</mat-icon>Añadir precio</button>
                </div>
                <div class="col-12 mt-5 row mx-auto ">
                    <div class="col-12 row mx-auto justify-content-between align-items-center mt-5" *ngFor="let row of campingForm.get('rows')?.controls;let index = index;">
                        
                            <mat-form-field class="col-12 col-md-3">
                                <mat-label>Introduzca nombre</mat-label>
                                <input  type="text" matInput placeholder="Adulto" [formControl]="row.get('nombre')" >
                            </mat-form-field>
                            <mat-form-field class="col-12 col-md-2" appearance="outline" floatLabel="always">
                                <mat-label>Precio T.Baja</mat-label>
                                <input matInput type="number" class="example-right-align" placeholder="0" [formControl]="row.get('preciobaja')">
                                <span matTextPrefix>€&nbsp;</span>
                                
                            </mat-form-field>
                            <mat-form-field class="col-12 col-md-2" appearance="outline" floatLabel="always">
                                <mat-label>Precio T.Media</mat-label>
                                <input matInput type="number" class="example-right-align" placeholder="0" [formControl]="row.get('preciomedia')">
                                <span matTextPrefix>€&nbsp;</span>
                                
                            </mat-form-field>
                            <mat-form-field class="col-12 col-md-2" appearance="outline" floatLabel="always">
                                <mat-label>Precio T.Alta</mat-label>
                                <input matInput type="number" class="example-right-align" placeholder="0" [formControl]="row.get('precioalta')">
                                <span matTextPrefix>€&nbsp;</span>
                                
                            </mat-form-field>
                            <div class="col-12 col-md-3" (click)="onRemoveRow(index)">
                                <mat-icon>delete</mat-icon>
                            </div>
                            <mat-divider></mat-divider>
                    </div>
                </div>
                
                <div class="col-12 row my-4 mx-auto text-center justify-content-between">

                </div>
                <div class="col-12 text-center mb-5">
                    

                    <button type='button' mat-raised-button color="accent"  (click)="openModal('400ms', '300ms', $event)">Definir parcelas</button>
                </div>
                
                <div class="col-md-8 row text-center mx-auto">

                    <button class="col-md-8 mx-auto" [disabled]="!campingForm.valid || this.parcelas.length == 0 "  mat-raised-button color="accent"
                        type="submit">
                        Agregar camping
                    </button>
                </div>
                
            </form>

        </div>
        
    </div>
    

</div>