<div class="container">
<div class="row my-auto py-5">
    <div class="col-sm-10 col-lg-8 mx-auto">
        <h4 class="fw-bold text-center">Registro</h4>
        <mat-divider></mat-divider>
        
            <form [formGroup]="registerForm" class="mx-auto my-4 row" (ngSubmit)="signUp()" novalidate>
                <mat-form-field appearance="fill" class="col-md-4 me-auto">
                    <mat-label>Introduzca su nombre</mat-label>
                    <input matInput placeholder="Antonio" formControlName="nombre" required name="nombre">
                    <mat-error *ngIf="errorHandling('nombre', 'required')">
                        El campo nombre es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('nombre', 'pattern')">
                        El campo nombre solo puede incluir letras
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-md-8 ms-auto">
                    <mat-label>Introduzca sus apellidos</mat-label>
                    <input matInput placeholder="Pérez Rodríguez" formControlName="apellidos" required name="apellidos"> 
                    <mat-error *ngIf="errorHandling('apellidos', 'required')">
                        El campo apellido es requerido
                    </mat-error> 
                    <mat-error *ngIf="errorHandling('apellidos', 'pattern')">
                        El campo apellidos solo puede incluir letras
                    </mat-error>               
                </mat-form-field> 
                <mat-form-field appearance="fill">
                    <mat-label>Introduzca su dni</mat-label>
                    <input matInput placeholder="12345678X" formControlName="dni" required name="dni">
                    <mat-error *ngIf="errorHandling('dni', 'required')">
                        El campo dni es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('dni', 'pattern')">
                        El formato del dni no es correcto
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Introduzca su nombre de usuario</mat-label>
                    <input matInput placeholder="antoniopr3" formControlName="nickname" required name="nickname">
                    <mat-error *ngIf="errorHandling('nickname', 'required')">
                        El campo nickname es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('nickname', 'pattern')">
                        El campo nickname solo puede incluir alfanuméricos
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Introduzca su email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required name="email">
                    <mat-error *ngIf="errorHandling('email', 'required')">
                        El campo email es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('email', 'email')">
                        EL formato del email no es correcto
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Introduzca su telefono</mat-label>
                    <span matPrefix>+34 &nbsp;</span>
                    <input type="number" matInput placeholder="658736465" formControlName="telefono" name="telefono" pattern="^[0-9]{9}$">
                    <mat-error *ngIf="errorHandling('telefono', 'pattern')">
                        El teléfono debe ser 9 carácteres numéricos
                    </mat-error>
                    <mat-error *ngIf="errorHandling('telefono', 'required')">
                        El teléfono es requerido
                    </mat-error>
                </mat-form-field> 


                <mat-form-field appearance="fill">
                    <mat-label>Introduzca su contraseña</mat-label>
                    <input matInput type="password" formControlName="password" required name="password">
                    <mat-error *ngIf="errorHandling('password', 'pattern')">
                        La contraseña debe ser una combinacion de minúsculas, mayusculas, numeros y al menos 8 caracteres
                    </mat-error>
                    <mat-error *ngIf="errorHandling('password', 'required')">
                        El campo contraseña es requerido
                    </mat-error>                  
                </mat-form-field>     

                <mat-form-field appearance="fill">
                    <mat-label>Confirma su contraseña</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm" required name="passwordConfirm">
                    <mat-error *ngIf="errorHandling('passwordConfirm', 'required')">
                        El campo confirmar contraseña es requerido
                    </mat-error>
                    <mat-error *ngIf="errorHandling('passwordConfirm', 'MatchPassword')">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>     
                <div class="col-md-8 mt-3 row text-center mx-auto">
        
                <button class="col-md-8 mx-auto" [disabled]="!registerForm.valid" mat-raised-button color="accent" type="submit">
                    Registrarse
                </button>
                
                </div>     

            </form>
    
    </div>

</div>
</div>