.descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3 ;
    overflow: hidden;
    text-align: center;
}

h4{
    font-weight: bolder;
}
.camping{
    border: 1px solid rgb(88, 88, 88);
    border-radius: 20px;
}
.camping img{
        width: 100%;
    }
h3{
    font-size: 20px;
}
.camping h4{
    color: #FF8338;
}