.camping{
    background-color: #E14A4A;
}
.opcion {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}
img{
    width: 100px;
    height: 100px;
}
.user{
    background-color: #2BAA93;
}
.ingresos{
    background-color: #BACB55;
}
h3{
    font-weight:bolder;
}