<div class="container row text-center mx-auto d-flex justify-content-evenly">
    <a class="col-sm-3 m-4 camping opcion text-decoration-none text-dark" href="/admin/lista-de-campings">
        <div class=" ">
            <img class="mt-4 mx-auto" src="../../../assets/img/icon-camping.svg" alt="icono camping">
            <h3 class="my-3">LISTA DE CAMPINGS</h3>
        </div>
    </a>
    <a class="col-sm-3 m-4 user opcion text-decoration-none text-dark" href="/admin/lista-de-usuarios">
        <div class="">
            <img class="mt-4" src="../../../assets/img/icon-user.svg" alt="icono camping">
            <h3 class="my-3">LISTA DE USUARIOS</h3>
        </div>
    </a>
    <a class="col-sm-3 m-4 ingresos opcion text-decoration-none text-dark" href="/admin/ingresos">
        <div>
            <img class="mt-4" src="../../../assets/img/icons-ingresos.svg" alt="icono camping">
            <h3 class="my-3">INGRESOS</h3>
        </div>
    </a>

</div>