<div class="container mx-auto">
    <div id="carouselExampleControls" class="carousel slide h-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/carrusel_auto_x2-prueba.jpg.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/.PNG" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="mt-5">
      <h4 class="text-center">Mejores valorados</h4>
      <hr>

      <div class="row camping">
        <div class="col-3 my-3">
            <img src="../../../assets/img/Logo.png" alt="">
        </div>
        <div class="col-9 row mt-3" *ngFor="let camping of campings">
            <h3 class="col-3">{{camping.nombre}}</h3>
            <p class="col-6">
      
              {{camping.valoracion}}
            </p>
            <p class="col-3">{{camping.ciudad}}</p>
            <p class="col-12">{{camping.descripcion}}</p>
            <a class="col-6"> Campings {{camping.ciudad}}</a>
            <div class="col-6">
                <button>Consultar disponibilidad </button>
            </div>
        </div>
    </div>
<!-- 
      <app-card-camping *ngFor="let camping of campings">

      </app-card-camping> -->
  </div>
</div>

