<div class="container mx-auto">
  <div id="carouselExampleControls" class="carousel slide h-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/carrusel.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousel2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousel3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousel4.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousel5.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="mt-5 row">
    <h4 class="text-center">Mejores valorados</h4>
    <hr>

    <div class="row camping col-10 col-sm-12  mx-auto" *ngFor="let camping of campings">
      <div class="col-8 mx-auto col-md-4 col-lg-3 mt-md-0 mt-3 d-flex align-items-center">
        <img [src]="camping.imagenes[0]" class="">
      </div>
      <div class="col-12 mx-auto col-md-8 col-lg-9 row mt-3" >
        <div class="col-12 col-sm-9 d-flex">
          <h3>{{camping.nombre}}</h3>
            <star-rating class="text-left ms-4 mt-1" [showHalfStars]="true" [readOnly]="true" staticColor="ok" size="medium"
              [starType]="'svg'" rating="{{camping.valoracion}}"></star-rating>
          
        </div>


        <h4 class="col-12 col-sm-3 text-center mt-1 mb-0">{{camping.ciudad}}</h4>
        <p class="col-12 col-md-10 my-4 mx-auto descripcion">{{camping.descripcion}}</p>
        <a class="col-5 "> Campings {{camping.ciudad}}</a>
        <div class="col-7 mb-3 d-flex justify-content-center">
          <button mat-flat-button color="accent" routerLink="/camping/{{camping._id}}">Consultar disponibilidad </button>
        </div>
      </div>
    </div>

  </div>
</div>