.reservas:nth-child(odd) {
    background-color: rgb(249, 249, 249);
    
  }
  .reservas{
    border-radius: 25px;
  }
  ul {
    list-style: none;
    padding: 0;
}
li{
    font-weight: lighter;
}
img{
    max-width: 500px;
}
.cancelado{
    color: red;
}

.finalizado{
    color: green;
    
}