#map{
    height: 250px;
}
.descripcion{
    white-space: pre-wrap;
}

input[type="number"]{
    width: 40px;
    height: 25px;
}
.baja {
    background-color: #D4FFFC;
}
.media {
    background-color: #F5FFCC;
}
.alta {
    background-color: #FBC0C0;
}